# Choose between "gemini" or "openai"
LLM_PROVIDER="openai"

OPENAI_MODEL=your-openai-model
GEMINI_MODEL=your-gemini-model

GOOGLE_API_KEY=your-google-api-key
OPENAI_API_KEY=your-openai-api-key

NEO4J_URI=your-neo4j-uri
NEO4J_USERNAME=your-neo4j-username
NEO4J_PASSWORD=your-neo4j-password
NEO4J_DATABASE=your-neo4j-database

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=your-langsmith-project